<h1>Scrabble Word Value App</h1>

<p>Enter a word and we'll give you the value for your awesome Scrabble game!</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Calculate</button>
</form>
